@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(31 41 55);
}
.loupe {
  color: white;
}

.poster {
  height: 200px;
}

@media screen and (min-width:768px) {
  .poster {
    height: 350px;
  }
}
.poster2 {
  height: 500px;
}


footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.app {
  position: relative;
  min-height: 100vh;
}

input:focus {
  color: white;
}
li {
  list-style-type: none; 
}